#### pyechart 疫情地图

In [50]:
import pandas as pd

In [51]:
world_data = pd.read_csv('../covid_data/word_data_2020_07_07.csv')

In [52]:
world_data.head(5)

,id,name,lastUpdateTime,total_confirm,total_suspect,total_heal,total_dead,total_severe,total_input,today_confirm,today_suspect,today_heal,today_dead,today_severe,today_storeConfirm,today_input
0,9577772,突尼斯,2020-07-07 08:53:43,1199,0,1049,50,0,0.0,11.0,NaN,1.0,0.0,NaN,NaN,NaN
1,9507896,塞尔维亚,2020-07-07 08:53:44,16420,0,13366,317,0,0.0,289.0,NaN,0.0,0.0,NaN,NaN,NaN
2,0,中国,2020-07-07 08:53:41,85345,0,80168,4648,0,1942.0,25.0,NaN,11.0,0.0,NaN,14.0,8.0
3,1,日本,2020-06-15 07:16:58,18241,0,16298,940,0,0.0,75.0,NaN,63.0,0.0,NaN,NaN,0.0
4,2,泰国,2020-07-07 08:53:43,3195,0,3072,58,0,0.0,5.0,NaN,0.0,0.0,NaN,NaN,NaN

In [53]:
name_dict = {'date':'日期','id':"编号", 'name':'名称', 'lastUpdateTime':'更新时间', 'total_confirm':'累计确诊', 'total_suspect':'累计疑似',
       'total_heal':'累计治愈', 'total_dead':'累计死亡', 'total_severe':'累计重症', 'total_input':'累计输入',
       'total_newConfirm':'累计新增确诊', 'total_newDead':'累计新增死亡', 'total_newHeal':'累计新增治愈', 'today_confirm':'当日新增确诊',
       'today_suspect':'当日新增疑似', 'today_heal':'当日新增治愈', 'today_dead':'当日新增死亡', 'today_severe':'当日新增重症',
       'today_storeConfirm':'当日现存确诊', 'today_input':'当日新增输入'}

In [54]:
world_data.rename(columns=name_dict,inplace=True)

In [55]:
world_data.head(5)

,编号,名称,更新时间,累计确诊,累计疑似,累计治愈,累计死亡,累计重症,累计输入,当日新增确诊,当日新增疑似,当日新增治愈,当日新增死亡,当日新增重症,当日现存确诊,当日新增输入
0,9577772,突尼斯,2020-07-07 08:53:43,1199,0,1049,50,0,0.0,11.0,NaN,1.0,0.0,NaN,NaN,NaN
1,9507896,塞尔维亚,2020-07-07 08:53:44,16420,0,13366,317,0,0.0,289.0,NaN,0.0,0.0,NaN,NaN,NaN
2,0,中国,2020-07-07 08:53:41,85345,0,80168,4648,0,1942.0,25.0,NaN,11.0,0.0,NaN,14.0,8.0
3,1,日本,2020-06-15 07:16:58,18241,0,16298,940,0,0.0,75.0,NaN,63.0,0.0,NaN,NaN,0.0
4,2,泰国,2020-07-07 08:53:43,3195,0,3072,58,0,0.0,5.0,NaN,0.0,0.0,NaN,NaN,NaN

In [56]:
eg_name_dict = pd.read_csv('../covid_data/county_china_english.csv',encoding='gbk')
eg_name_dict.head(5)

               英文     中文
0     Afghanistan    阿富汗
1   Aland Islands   奥兰群岛
2         Albania  阿尔巴尼亚
3         Algeria  阿尔及利亚
4  American Samoa  美属萨摩亚

#### 计算各国现在确诊

In [57]:
world_data['当日现存确诊'] = world_data['累计确诊'] - world_data['累计治愈'] - world_data['累计死亡']
world_data.head(5)

,编号,名称,更新时间,累计确诊,累计疑似,累计治愈,累计死亡,累计重症,累计输入,当日新增确诊,当日新增疑似,当日新增治愈,当日新增死亡,当日新增重症,当日现存确诊,当日新增输入
0,9577772,突尼斯,2020-07-07 08:53:43,1199,0,1049,50,0,0.0,11.0,NaN,1.0,0.0,NaN,100,NaN
1,9507896,塞尔维亚,2020-07-07 08:53:44,16420,0,13366,317,0,0.0,289.0,NaN,0.0,0.0,NaN,2737,NaN
2,0,中国,2020-07-07 08:53:41,85345,0,80168,4648,0,1942.0,25.0,NaN,11.0,0.0,NaN,529,8.0
3,1,日本,2020-06-15 07:16:58,18241,0,16298,940,0,0.0,75.0,NaN,63.0,0.0,NaN,1003,0.0
4,2,泰国,2020-07-07 08:53:43,3195,0,3072,58,0,0.0,5.0,NaN,0.0,0.0,NaN,65,NaN

In [58]:
world_data['eg_name'] = world_data['名称'].replace(eg_name_dict['中文'].values,eg_name_dict['英文'].values)

In [59]:
world_data.head(5)

,编号,名称,更新时间,累计确诊,累计疑似,累计治愈,累计死亡,累计重症,累计输入,当日新增确诊,当日新增疑似,当日新增治愈,当日新增死亡,当日新增重症,当日现存确诊,当日新增输入,eg_name
0,9577772,突尼斯,2020-07-07 08:53:43,1199,0,1049,50,0,0.0,11.0,NaN,1.0,0.0,NaN,100,NaN,Tunisia
1,9507896,塞尔维亚,2020-07-07 08:53:44,16420,0,13366,317,0,0.0,289.0,NaN,0.0,0.0,NaN,2737,NaN,Serbia
2,0,中国,2020-07-07 08:53:41,85345,0,80168,4648,0,1942.0,25.0,NaN,11.0,0.0,NaN,529,8.0,China
3,1,日本,2020-06-15 07:16:58,18241,0,16298,940,0,0.0,75.0,NaN,63.0,0.0,NaN,1003,0.0,Japan
4,2,泰国,2020-07-07 08:53:43,3195,0,3072,58,0,0.0,5.0,NaN,0.0,0.0,NaN,65,NaN,Thailand

#### 数据预处理

In [60]:
heatmap_data  =world_data[['eg_name','累计确诊']].values.tolist()

In [61]:
heatmap_data[:3]

[['Tunisia', 1199], ['Serbia', 16420], ['China', 85345]]

In [62]:
from pyecharts import options as opt
from pyecharts.globals import ThemeType
from pyecharts.charts import Map

In [78]:
c = (
    Map()
    .add('世界累计确诊人数',heatmap_data,'world',is_map_symbol_show=False)
    .set_global_opts(title_opts = opts.TitleOpts(title="这是世界地图",subtitle="副标题"),
                     visualmap_opts = opts.VisualMapOpts(pieces=[
                        {"min":1000000,"color":"#d94e5d"},
                        {"min":500000,"max":1000000,"color":"#e28b60"},
                        {"min":200000,"max":500000,"color":"#eac763"},
                        {"min":10000,"max":200000,"color":"#9db58f"},
                        {"max":9999,"color":"#60a3ba"}
                         ],max_=1000000)
                    )
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
        
)
c.render_notebook()

####  中国累计确诊人数

In [64]:
china_data = pd.read_csv('../covid_data/today_provience_2020_07_04.csv')

In [65]:
china_data.rename(columns=name_dict,inplace=True)

In [66]:
china_data['eg_name'] = china_data['名称'].replace(eg_name_dict['中文'].values,eg_name_dict['英文'].values)

In [67]:
heatmap_data_china  =china_data[['eg_name','累计确诊']].values.tolist()
heatmap_data_china[:3]

[['湖北', 68135], ['广东', 1643], ['河南', 1276]]

In [99]:
c = (
    Map()
    .add('中国累计确诊人数',heatmap_data_china,'china',is_map_symbol_show=False)
    .set_global_opts(title_opts = opts.TitleOpts(title="中国累计确诊人数图"),
                    visualmap_opts = opts.VisualMapOpts(pieces=[
                        {"min":60000,"color":"#d94e5d"},
                        {"min":1000,"max":59999,"color":"#e28b60"},
                        {"min":500,"max":999,"color":"#eac763"},
                        {"min":100,"max":499,"color":"#9db58f"},
                        {"max":99,"color":"#60a3ba"}
                         ],is_piecewise=True)
                    )
    .set_series_opts(label_opts=opts.LabelOpts(is_show=True))
        
)
c.render_notebook()

#### 世界死亡人口玫瑰图

In [95]:
from pyecharts.charts import Pie
from pyecharts.globals import ThemeType
# need_data=world_data[['名称','累计死亡']][world_data['累计死亡']>1000]
word_dead_data = world_data[['名称','累计死亡']][world_data['累计死亡']>1000].sort_values(by='累计死亡',ascending=False).values

In [98]:
pie = (Pie(init_opts=opts.InitOpts(theme=ThemeType.MACARONS))
    .add(series_name='累计死亡人数',
        data_pair=word_dead_data,
        radius = ['20%','80%'],
        center =['70%',"60%"],
        rosetype='radius')
    .set_global_opts(
         title_opts=opts.TitleOpts(title='这是一个玫瑰图',pos_right='41%'),
         legend_opts=opts.LegendOpts(orient='vertical',pos_left='5%',pos_top='25%') # orient='vertical图例位置
     )
     .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}:{c}")) #{b}:数据名{c}:数据值
     )
pie.render_notebook()